data/
db.sqlite3
allsteps/allstep.png
extract/extract_step.png
knowledge_base/knowledge_base_compute.png
knowledge_base/knowledge_base_create.png
index/index_step.png
query/querystep.png
**/migrations/
**/.idea/workspace.xml
**/.idea/tasks.xml
allsteps/__pycache__/
dataapp/__pycache__/
dragn/__pycache__/
extract/__pycache__/
graph/__pycache__/
index/__pycache__/
knowledge_base/__pycache__/
query/__pycache__/
queryapp/__pycache__/
text/__pycache__/
uploadapp/__pycache__/
util/__pycache__/