<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %}Budget{% endblock %}</title>
</head>

<body>
<div id="nav">
    {% if request.user.is_superuser %}
        <a class="hover" href="{% url 'upload' %}">Upload texts</a>
        <a class="hover" href="{% url 'process' %}">Process texts</a>
    {% endif %}

    {% if queryform %}
        <div id="form">
            <form action="{% url 'query' %}" method="post" id="query-form">
                {% csrf_token %}

                {% for field in queryform %}
                    <label for="{{ field.auto_id }}">{{ field.label }}</label> {{ field }}
                {% endfor %}
                <input type="submit" class="ajax" value="Search" name="search">
            </form>
        </div>
    {% endif %}
</div>

<div id="content">
    {% block includehelp %}{% endblock %}
    {% block content %}{% endblock %}
</div>
</body>
</html>